/*div {
    propriedades decorativas 

    border: solid 1px black;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    overflow: hidden;

    propriedades que fazem o problema 

    width: 100px;
    height: 110px;
}*/

div {
    height: 100px;
    width: 100px;
    border: dotted;
    margin: 5px, 8px;
    padding: 6px, 9px;
    overflow: auto;
}